<div class="wrapper">
<%= render partial: "shared/sidebar" %>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid mailbox">
              <h3><%= current_user.first_name %>'s Mailbox</h3>
              <% @conversations.each do |conversation| %>
                <div class="row">
                  <div class="col-md-7">
                    <div class="card-<%= conversation.recipient.id %>">
                      <div class="content">
                        <div class=”ui segment”>
                           <h4><%= link_to conversation.recipient.first_name,
                               conversation_messages_path(conversation)%></h4>
                               <img class="img-circle img-thumbnail img-responsive portfolio-item" src="<%= conversation.recipient.avatar.url(:thumb) %>">
                            <div class=”content”>
                              <div class=”list”>
                               <div class=”message”>
                                <i class=”right triangle icon”></i>
                              </div>
                           </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
