<div class="wrapper">
  <%= render partial: "shared/sidebar" %>
  <div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="header">
                    <h3 class="title">Reviews</h3>
                  </div>
                  <table class="content table table-striped my-trips">
                    <thead class="headers">
                      <th>Street Address</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip Code</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Max Occupancy</th>
                      <th>List Category</th>
                      <th>Beds</th>
                      <th>Rooms</th>
                      <th>Baths</th>
                      <th>Cost/Night</th>
                      <th></th>
                    </thead>
                    <tbody class="records">
                      <div class="listing-details">
                        <%@completed_trips.each do |listing|%>
                          <tr scope="row">
                            <td><%= listing.street_address %></td>
                            <td><%= listing.city %></td>
                            <td><%= listing.state %></td>
                            <td><%= listing.zipcode %></td>
                            <td><%= listing.title %></td>
                            <td><%= listing.description %></td>
                            <td><%= listing.max_occupancy %></td>
                            <td><%= listing.list_category %></td>
                            <td><%= listing.number_beds %></td>
                            <td><%= listing.number_rooms %></td>
                            <td><%= listing.number_baths %></td>
                            <td><%= listing.cost_per_night %></td>
                            <div class="listing_<%=listing.id %>">
                              <td><%= link_to "View Listing", listing_path(listing) %></td> 
                            </div>
                          </tr>
                        <%end%>
                      </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
