
<html lang="en" class="gr_getbootstrap_com">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body data-gr-c-s-loaded="true">
  <%= render partial: 'shared/sidebar' %>


    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @listing.title %>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="<%= @listing.images.first.image_url %>" alt="">
            </div>

            <div class="col-md-3">
                <h3>About this listing:</h3>
                <p><%= @listing.description %></p>
            </div>
            <div class="col-md-1">
              <h2>$<%= @listing.cost_per_night %>/night</h2>
              <%= link_to "Book Now", new_listing_reservation_path(@listing), class: "btn btn-success" %></td>
            </div>
            <div class="col-sm-3 col-xs-6 amenities">
                <h3>Amenities at this property</h3>
                <% @listing.amenities.each do |amenity| %>
                  <ul>
                    <%= amenity.name %>
                  </ul>
                <% end %>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="<%= @listing.images[1].image_url %>" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="<%= @listing.images[2].image_url %>" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">About the Host</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-circle img-thumbnail img-responsive portfolio-item" src="<%= @listing.user.user_photo %>" alt="">
                <h4> <%= @listing.user.first_name %> </h4>
            </div>
            <div class="col-sm-1 col-xs-1">
            </div>
            <div class="col-sm-3 col-xs-6">
                <h3>About the Host</h3>
                <p>  <%= @listing.user.about_me %> </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                  <p>Copyright © CloneBnB 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




</body>

</html>
