</tbody>
</table>
<div class="wrapper">
<%= render partial: "shared/sidebar" %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <div class="card">
                  <div class="header">
                    <h1>Reservations</h1>
                    <hr>
                    <table class="content table table-striped">
                      <thead class="headers">
                        <th>Property</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Action</th>
                      </thead>
                      <tbody class="records all_listings">
                        <% @listings.each do |listing| %>
                          <% listing.reservations.each do |reservation| %>
                            <tr class="reservation-<%= "#{reservation.id}" %>" scope="row">
                              <td><%= link_to reservation.listing.title, reservation_path(reservation) %></td>
                              <td><%= reservation.start_date %></td>
                              <td><%= reservation.end_date %></td>
                              <td><%= reservation.user.first_name %></td>
                              <td><%= reservation.user.last_name %></td>
                              <td><%= reservation.user.email %></td>
                              <td><%= reservation.user.phone_number %></td>
                              <td><%= reservation.status %></td>
                              <td>
                                <%= button_to "Confirm", user_reservation_path(current_user, reservation, status: "confirmed"), method: :put, class: "btn btn-success",  disabled: reservation.complete? || reservation.cancelled? %>
                                <%= button_to "Cancel", user_reservation_path(current_user, reservation, status: "cancelled"), method: :put, class: "btn btn-success", disabled: reservation.cancelled? %>
                                <%= button_to "Complete", user_reservation_path(current_user, reservation, status: "complete"), method: :put, class: "btn btn-success", disabled: reservation.pending? || reservation.cancelled? %>
                              </td>
                            </tr>
                          <% end %>
                      <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
