<div class="wrapper">
  <% if current_user %>
    <%= render partial: "shared/sidebar" %>
  <% end %>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <h1>Reserve this Property</h1>
                    <div class="card">
                      <div class="content res">
                        <%= form_for([@listing, @reservation]) do |f| %>
                          <p>Select a Check-In Date</p>
                          <div class="form-group">
                            <%= f.label :start_date %>
                            <%= f.date_field :start_date %>
                          </div>
                          <p>Select a Check-Out Date</p>
                          <div class="form-group">
                            <%= f.label :end_date %>
                            <%= f.date_field :end_date %>
                          </div>

                            <% if current_user %>
                            <%= f.submit "Confirm Reservation", class: "btn btn-success" %>
                            <% else %>
                            <%= link_to "Login to Make Reservation", login_path, class: "btn btn-success" %>
                            <% end %>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
