<!DOCTYPE html>
<html>
  <head>
    <title>Clonebnb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="flash">
      <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
